<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        textarea {
            resize: none;
        }
    </style>
</head>
<body>
    <h1 style=" display: flex; background-color: rgb(250, 221, 221); justify-content: center;">Is it Fake???????</h1>
    <p>TITLE + ' ' + ARTICLE</p>
    <div style="display: flex;">
        <form method="post">
           <textarea id="text" name="text" rows="40" cols="100" placeholder="TITLE + ARTICLE">
           </textarea>
           <br>
           <button type="submit">Submit</button>
        </form>

    </div>
    <div>
        {{pred}}
    </div>
</body>
</html>